name: workflow_tp1.yml
on:
  push:
    branches: [ master]
  pull_request:


jobs:
  build-test-run:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Cache Maven dependencies
      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # 2. Set up Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      # 3. Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # 4. Enable Yarn (via Corepack)
      - name: Enable Yarn
        run: |
          corepack enable
          yarn --version

#      # 5. Install frontend dependencies
#      - name: Install frontend dependencies
#        run: npm install -g yarn && yarn install




      # 6. Compile project (skip tests)
      - name: Build ThingsBoard common modules
        run: mvn clean install -DskipTests -Dlicense.skip=true -T 2C

      # 7. Run specific unit tests
      - name: Run specific unit tests
        run: mvn -f application/pom.xml -Dit.test=DeviceActorMessageProcessorTest#DeviceActorMessageProcessorTest test